<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>«Несвижская сортоиспытательная станция»</title>
</head>

<body>

    <!--Header-->


    <div class="container">


       <header>

            <div class="header_background"></div>
                <div class="logo"></div>
                <div class="header_text">
                    <div class="gos_header_text">
                        <!--<span>Государственное сельскохозяйственное учреждение </span>-->
                        Государственное сельскохозяйственное учреждение
                    </div>
                    <div class="organization">
                        <span>«Несвижская сортоиспытательная станция»</span>
                    </div>
                    <div class="email">
                        <!--<span>hlebkovichh@mail.ru</span>-->
                        hlebkovichh@mail.ru
                    </div>
                    <div class="adress">
                        <!--<span>Минская область, Несвижский район, <br/>поселок Госсортучасток, улица Кутузова, дом 47</span>-->
                        Минская область, Несвижский район, <br/>поселок Госсортучасток, улица Кутузова, дом 47
                    </div>
                    <div class="phone_number">
                        8 (01770) 2-58-03
                    </div>
                </div>

       </header>



    </div>




    <!--Header-->


        {{{body}}}



<!-- Optional JavaScript -->
<!-- jQuery  -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

</body>

</html>
















