@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    padding: 0;
    margin: 0;
}
.container{
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}
header{
    width: 1920px;
    height: 225px;
    margin: 0 auto;
    position: relative;

}
.header_background{
    width: 100%;
    height: 193px;
    background-image: url("pics/rozh-kolosya-pole-zolotistye-nebo-selskoe-hozyaystvo-947-3840x2400.png");
    /*background-color: rgba(0, 255, 0, 0.15);*/
    /*background-color: rgba(0, 100, 0, 0.15);*/
    background-color: rgba(102, 255, 153, 1);
    /*задал */
    /*position: absolute;*/
}
.logo{
    width: 285px;
    height: 194px;
    background-image: url("pics/logo.png");
    position: absolute;
    top:31px;
    left: 375px;
    z-index: 3;
}
.header_text{
    width: 837px;
    height: 118px;
    position: absolute;
    top:51px;
    left: 679px;
    /*border: 1px solid red;*/
}
.gos_header_text{
    width: 255px;
    height: 81px;
    position: absolute;
    top: 0;
    left: 0;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;

}
/*.gos_header_text span{*/
    /*width: 255px;*/
    /*height: 81px;*/
    /*color: #312a20;*/
    /*font-family: 'Lato', sans-serif;*/
    /*font-size: 20px;*/
    /*font-weight: 700;*/
/*}*/
.organization{
    width: 619px;
    height: 23px;
    position: absolute;
    top: 85px;
    left: 0;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    /*line-height: 42px;*/
    text-transform: uppercase;
}
/*.organization span{*/
    /*color: #312a20;*/
    /*font-family: 'Lato', sans-serif;*/
    /*font-size: 20px;*/
    /*font-weight: 700;*/
    /*line-height: 42px;*/
    /*text-transform: uppercase;*/
/*}*/
.email{
    position: absolute;
    width: 165px;
    height: 17px;
    top: 0;
    left: 347px;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    /*line-height: 42px;*/
    padding-top: 0;
}
/*.email span{*/
    /*color: #312a20;*/
    /*font-family: 'Lato', sans-serif;*/
    /*font-size: 18px;*/
    /*font-weight: 700;*/
    /*line-height: 42px;*/
    /*padding-top: 0;*/
/*}*/
.adress{
    position: absolute;
    width: 317px;
    height: 31px;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /*line-height: 18px;*/
    top: 37px;
    left: 347px;
}
.phone_number{
    position: absolute;
    top:0;
    left: 693px;
    width: 150px;
    height: 17px;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    /*line-height: 42px;*/
}
.phone_number span{
    font-weight: 700;
}
.work_time{
    position: absolute;
    top: 36px;
    left: 693px;
    width: 143px;
    height: 31px;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /*line-height: 18px;*/
}
.menu_list{
    width: 1920px;
    height: 32px;
    /*padding-top: 16px;*/
    /*background-color: rgba(255, 255, 255, 0.7);*/
    opacity: 0.7;
    background-color: #979695;
    margin-top: -16px;
    /*position: absolute;*/
    /*margin-left: 696px;*/
    background-color: rgba(151, 150, 149, 0.7);

}
.menu_list li{
    /*display: inline-block;*/
    float: left;
    padding-right: 29px;
    position: relative;
    left: 660px;
    top: -4px;
}
.menu_list li a{
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.7s;
}
.menu_list li a:hover{
    color: #000;
    /*font-weight: 700;*/
    /*font-weight: bold;*/

}
/*.menu_list li a:first-child{*/
    /*font-weight: 700;*/
/*}*/
.menu_list ul li span i{
    padding-right: 6px;
    color: gray;
}
.rest_body{
    margin: 0 auto;
}
.main_page_central_pic{
    width: 1920px;
    height: 761px;
    background-image: url("pics/main_pic_main_page.png");
}
.icon_section_white{
    width: 1920px;
    height:222px;
    background-color: #ffffff;
}
.icons_place{
    width: 1171px;
    height:106px;
    position: absolute;
    top: 1023px;
    left: 375px;
    /*border:1px solid red;*/
}
.we_are_manufactures{
    width: 326px;
    height: 106px;
    background-image: url("pics/manufactures.png");
    background-repeat: no-repeat;
    float: left;
}
.we_are_manufactures .head_manufactures {
    padding-left: 120px;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 42px
}
.we_are_manufactures .text_manufactures{
    padding-left: 120px;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.ecology{
    width:356px;
    height: 106px;
    background-image: url("pics/ecology.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 390px;
}
.ecology .head_ecology{
    padding-left: 122px;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 42px;
}
.ecology .text_ecology{
    padding-left: 122px;
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.research{
    width:387px;
    height: 106px;
    background-image: url("pics/flower.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 784px;
}
.research .head_research{
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 42px;
    padding-left: 125px;
}
.research .text_research{
    color: #312a20;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 125px;
}